# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.class
*.jar
build/resources/main/plugin.yml
*.MF
.idea/workspace.xml
.idea/misc.xml
.idea/cavern_detector.iml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/modules/cavern_detector.main.iml
.idea/vcs.xml
